html {
    height: -webkit-fill-aviable;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-height: 100svh;
    min-height: -webkit-fill-aviable;
    margin: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: lightblue;
}
#superior{
    display: flex;
    height: 8vmax;
    justify-content:center;
    align-items:center;
    font-size:3vmax;
    color:black;
    background-color:#e59da2;
}
#central{
    display: flex;
    height: 8vmax;
    justify-content:center;
    align-items:center;
    font-size:3vmax;
    color:rgb(138, 218, 148);
    background-color:#eaf0f2;
}

#menu {
    height: 8vmax;
    display: flex; /* el menú és un contenidor de tipus flex */
    height: 8vmax;
}
#menu i{
        flex: 1; /* cada botó pretén ocupar tot l'espai disponible */
        display: flex; /* contenidor flex on centrar-hi la icona */
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #950E17;
        font-size: 5vmax;
        cursor: pointer; /* en ordinadors, indica que s'hi pot fer clic */
}#div_foto {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    #icona_camera {
    font-size: 40vmin;
    color: #950E17;
    }
    #foto {
    max-width: 60vmin; /* dimensions màximes per a la prveisualització de
    les fotos */
    max-height: 60vmin;
    cursor: pointer;
    }
    #div_control {
    height: 25vmax;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
    #div_control i {
    cursor: pointer;
    font-size: 20vmin;
    color: green;
    }
    #obturador {
    position: absolute;
    width: 0;
    opacity: 0;
    }
    #canvas, #desa {
    display: none;
    }
    #div_gran {
    display: none;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: black;
    max-height: 100vh;
    max-height: 100svh;
    max-height: -webkit-fill-available;
    }
    #foto_gran {
    max-width: 95vmin;
    max-height: 95vmax;
    cursor: pointer;
    }
    @media (orientation: landscape) {
    #seccio_2 {
    flex-direction: row;
    }
    #div_foto {
    
    copia
    
    21/11/24, 10:27 cmd:tac:computacional:webapp:html:09_fotos [Formació del professorat]
    
    https://ateneu.xtec.cat/wikiform/wikiexport/cmd/tac/computacional/ webapp/html/09_fotos 3/7
    
    Aquest és l'aspecte que s'obté en les dues orientacions:
    
    Galeria de fotos
    
    La secció 3 de la webapp és per a les fotos realitzades:
    flex-direction: column;
    }
    #div_control {
    width: 25vmax;
    height: auto;
    flex-direction: column;
    }
    #div_gran {
    max-height: 100vh;
    max-height: 100svh;
    }
    #foto_gran {
    
    transform: rotate(-90deg); /* gir de 90 graus correponent al
    
    canvi d'orientació */
    }
    }